#include "resource.h"
#include <winver.h>

IDI_REMAPCON ICON "remapcon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,7,0,0
 PRODUCTVERSION 1,7,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Remapcon - Controller Mapping"
            VALUE "FileVersion", "1.7.0"
            VALUE "InternalName", "Remapcon"
            VALUE "OriginalFilename", "Remapcon.exe"
            VALUE "ProductName", "Remapcon - Controller Mapping"
            VALUE "ProductVersion", "1.7.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
